<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Gaman x Vite</title>
  </head>
  <body>
    <h1>Gaman x Vite</h1>
    <p>message: {{ message }}</p>
    
  </body>
</html>